/* header {
    background-color:#feeaba;
} */
body {
    background-color:#fff1dd;
}
nav {
    /* background-color:#f09a80; */
    background-color: #fed7be;
   
}
.navbar-brand{
    padding-top: 0%;
    padding-bottom:0%;
    margin: 0%;
}
.container-fluid{
    padding-right: 3%;

}
.img {
    padding-left: 10%;
}
.container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    
}
h1{
    font-size: 40px;
}
.navbar-toggler{
    border-color: #4f4f4f;
    padding:4px;
    padding-left: 8px;
    padding-right: 8px;
}
.offcanvas{
    background-color: mistyrose;
    
}
.offcanvas-end{
    max-width: fit-content;
}
.section-one{
    background-color:#f2ad9a;
    margin: 0;
}
.section-two{
    background-color: #fedad2;
    padding:20px;
    margin-top: 10px;
}   
.section-three{
    background-color: #f8af9a;
    padding:20px;
    margin-top: 10px;
}
.section-four{
    background-color: #fcddd1;
    padding:20px;
    margin-top: 10px;
}
.section-five{
    background-color: #fcc8b8;
}
footer {
    background-color: #f9c9b5 ;
    font-size: 15px;
    font-style: italic;
    text-align:center;
   
}
.about{
    display:flex;
    padding:20px;
    flex-wrap:wrap;  
    flex-direction: column;
    justify-content: space-evenly;
    
}
.About{
    font-size: 18px;
    padding: 5px;
    text-align: center;
    width:100%;
    max-width:1000px; 
}
h2{
    font-size: 35px;
    text-align:left;
}
main {
    padding:20px;
}
.AboutUs {
    font-size: 16px;
    /* padding: 3px; */
    text-align: center;
    width:100%;
    max-width:1000px;
    margin:0;
}
h3{
    font-size: 25px;
}
.Contact {
    font-size: 15px;
    padding: 5px;
    text-align: center;
    width:100%;
    max-width:1000px;
}
.contact {
    display:flex;
    padding:5px;
    flex-wrap:wrap;  
    flex-direction: column;
    justify-content: center;
}
.contactf {
    padding:5px;
    max-width:800px;
}
.contacth {
    font-size: 20px;
    text-align: center;
    background-color: #f2ad9a;
    margin:0;
    max-width:400px;
}
.foodbox {
    display:flex;
    padding:5px;
    flex-wrap:wrap;  
    flex-direction: column;
    justify-content:center;
    
}
.Foodbox {
    font-size: 18px;
    text-align: left;
    /* background-color: #f2ad9a; */
    margin:0;
    padding-bottom:10px;
    padding-left:10px;
    width:100%;
    max-width:700px;
}
.food{
    padding:10px;
}
.Food{
    font-size: 16px;
    /* padding: 3px; */
    text-align: center;
    width:100%;
    max-width:1000px;
}
h4 {
    font-size: 18px;
}
.location {
    display:flex;
    padding:5px;
    flex-wrap:wrap;  
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:100%;
    max-width:800px;
    min-width:300px;
}
.Location {
    font-size: 20px;
    margin:0;
    padding-bottom:5px;

}
.Locationt {
    font-size:15px;
    margin:0;
    padding-left:5px;
}
.local {
    text-align: left;
    background-color: #fdd5ca;
    margin: 5px;
    padding:10px;
    width:100%;
    max-width:900px;
    min-width:300px;
}
.menu {
    width:100%;
    max-width:900px;
    text-align: left;
}
.Menu {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    max-width:350px;
    height:auto; 
    /*padding-top:20px;*/
    justify-content: center;
    
    
    align-content: baseline;
}
.Menu-grp {
    display:flex;
    justify-content:baseline; 
    
    flex-wrap:wrap;  
    flex-direction: column;
    padding:10px;
}
.site{
    text-align:left;
    padding-left:0%
}
.join {
    display:flex;
    padding:20px;
    flex-wrap:wrap;  
    flex-direction: column;
    justify-content: center;
    width:100%;
    max-width:900px;
} 
.Join {
    width:100%;
    max-width:900px;
    text-align: left;
    font-size: 20px;   
}
/* .joinus {

} */
.menuh{
    width:100%;
    max-width:900px;
    height:auto;
}
.box{
    width:100%;
    max-width:700px;
    height:auto;
}