/* header {
    background-color:#feeaba;
} */
body {
    background-color:#fff1dd;
}
nav {
    /* background-color:#f09a80; */
    background-color: #fed7be;
   
}
.navbar-brand{
    padding-top: 0%;
    padding-bottom:0%;
    margin-right: 0%;
}
.container-fluid{
    padding-right: 3%;
}
h1{
    font-size: 40px;
}
.navbar-toggler{
    border-color: #4f4f4f;
    padding:4px;
    padding-left: 8px;
    padding-right: 8px;
}
.offcanvas{
    background-color: mistyrose;
    
}
.offcanvas-end{
    max-width: fit-content;
}
.section-one{
    background-color:#f2ad9a;
    
}
.section-two{
    /* background-color: #f6ad9b; */
    padding:10px;
    
}   
.section-three{
    background-color: #f8af9a;
}
.section-four{
    background-color: #fabfa7;
    
}
.section-five{
    background-color: #fcc8b8;
}
footer {
    background-color: #f9c9b5 ;
    font-size: 15px;
    font-style: italic;
    text-align:center;
   
}
.about{
    display:flex;
    padding:20px;
    flex-wrap:wrap;  
    flex-direction: column;
    justify-content: space-evenly;
    
}
.About{
    font-size: 15px;
    padding: 5px;
    text-align: center;
    width:100%;
    max-width:900px; 
}
h2{
    font-size: 35px;
}
main {
    padding:20px;
}
.AboutUs {
    font-size: 15px;
    /* padding: 3px; */
    text-align: center;
    width:100%;
    max-width:900px;
}
h3{
    font-size: 25px;
}
.Contact {
    font-size: 15px;
    padding: 5px;
    text-align: center;
    width:100%;
    max-width:900px;
}
.contact {
    display:flex;
    padding:5px;
    flex-wrap:wrap;  
    flex-direction: column;
    justify-content: space-evenly;
}
.contactf {
    padding:5px;
    max-width:800px;
}