/* header {
    background-color:#feeaba;
} */
body {
    background-color:#fee1dd;
}
nav {
    background-color:#f1a38c;
   
}
.navbar-brand{
    padding-top: 0%;
    padding-bottom:0%;
    margin-right: 0%;
}
.container-fluid{
    padding-right: 3%;
}
h1{
    text-align: left;
}
.navbar-toggler{
    border-color: #4f4f4f;
}
.offcanvas{
    background-color: mistyrose;
}
footer {
    background-color: #fcc9b5 ;
    font-size: 15px;
    font-style: italic;
    text-align:center;
   
}